on init
    mkdir /persist 0771 system system

on boot
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    symlink /data/hostapd/qcom_cfg.ini /etc/firmware/wlan/qcom_cfg.ini
    setprop wifi.interface wlan0

on post-fs-data
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    mkdir /data/system 0775 system system
    symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant

    mkdir /data/simcom       0775 radio system

    mkdir /data/simcom/cm3623_ps        0775 radio system
    chmod 775 /data/simcom/cm3623_ps

    mkdir /data/simcom/btadd        0775 radio system
    chmod 775 /data/simcom/btadd

    chown system system /sys/class/misc/cm3623_ps/ps_control
    chown system system /sys/class/misc/cm3623_ps/ps_wake
    chown system system /sys/class/misc/cm3623_ps/ps_trigger
    chmod 666 /sys/class/misc/cm3623_ps/ps_trigger

    chown system system /sys/class/leds/flash/brightness
    chown system system /sys/class/leds/red/max_brightness
    chown system system /sys/class/leds/red/led_blink_on
    chown system system /sys/class/leds/red/led_blink_off
    chown system system /sys/class/leds/green/max_brightness
    chown system system /sys/class/leds/green/led_blink_on
    chown system system /sys/class/leds/green/led_blink_off
    chown system system /sys/class/leds/blue/max_brightness
    chown system system /sys/class/leds/blue/led_blink_on
    chown system system /sys/class/leds/blue/led_blink_off

    chmod 666 /sys/class/leds/flash/brightness

    mkdir /data/misc/sensors 0777 system system

service memsicd /system/bin/memsicd
    class core
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service start-touchpanel /system/bin/sh /system/etc/init.touchpanel.sh
    class main
    user root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dwext -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
    class late_start
    user root
    group wifi inet
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ADBKL
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus_p01d   \
  --baudrate 3000000 --tosleep 50000 --enable_hci       \
  --no2bytes --enable_lpm --scopcm 0,4,0,0,0,0,0,0,0,0  \
  --patchram /etc/BCM4330.hcd /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio
